:root {
  --black: #111;
  --orange: #fd9222;
  --violet: #1e1823;
  --beige: #fcf1e0;
  --light: #fafafa;
  --gray: #4c4c4c;
  --white: #fff;
  --marker-body: #4c4c4c;
  --marker-border: #eceded;
  --font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--black);
  background-color: var(--light);
}

body.no-scroll {
  overflow: hidden;
}

img {
  display: block;
}
svg {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
button {
  box-sizing: border-box;
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
section {
  margin-left: auto;
  margin-right: auto;
}
.padding-section {
  padding-top: 80px;

  @media only screen and (min-width: 768px) {
    padding-top: 100px;
  }

  @media only screen and (min-width: 1200px) {
    padding-top: 120px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  @media only screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media only screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.section-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);

  margin-bottom: 32px;

  @media only screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
.accent {
  color: var(--orange);
}

/*------------ HEADER --------------*/

.header {
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;

  @media only screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media only screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (min-width: 768px) {
    gap: 28px;
  }

  @media only screen and (min-width: 1200px) {
    gap: 90px;
  }
}
.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.logo-header {
  display: flex;
  text-wrap: nowrap;
  align-items: center;

  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.13;
  letter-spacing: -0.03em;
  color: var(--black);

  @media only screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.11111;
  }
}
.navigation-link {
  display: none;

  @media only screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  @media only screen and (min-width: 1200px) {
    gap: 24px;
  }
}
.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.menu-icon {
  width: 28px;
  height: 28px;
  stroke: var(--black);
  transition: transform 250ms linear;

  &:hover,
  &:focus {
    transform: scale(1.143);
  }
}

.header-social-links-wrapper {
  display: none;

  @media only screen and (min-width: 768px) {
    display: flex;
    gap: 14px;
  }
}

.logo-icon {
  margin-left: 4px;
  width: 21px;
  height: 21px;

  @media only screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.navigation-link-items {
  transition: color 250ms linear;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--orange);
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 250ms linear;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }

  &:hover,
  &:focus {
    color: var(--orange);
  }
}

.header-social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 40px;
  height: 40px;
  transition: border-color 250ms linear;

  &:hover,
  &:focus {
    border-color: rgba(253, 146, 34, 0.1);
  }

  &:hover .social-links-icon,
  &:focus .social-links-icon {
    fill: var(--orange);
  }
}

.social-links-icon {
  transition: fill 250ms linear;
}

/*------------ HERO SECTION --------------*/
.hero-section {
  height: 620px;
  width: 335px;
  margin-bottom: 80px;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url("../img/background/mobile/hero-bg-mob.jpg");

  @media only screen and (min-resolution: 192dpi) {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url("../img/background/mobile/hero-bg-mob@2x.jpg");
  }
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
  padding-bottom: 20px;

  @media only screen and (min-width: 768px) {
    width: 704px;
    height: 890px;
    padding-bottom: 40px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url("../img/background/tablet/hero-bg_tab@1x.jpg");

    @media only screen and (min-resolution: 192dpi) {
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)
        ),
        url("../img/background/tablet/hero-bg_tab@2x.jpg");
    }
  }

  @media only screen and (min-width: 1200px) {
    width: 1136px;
    height: 600px;

    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url("../img/background/desktop/hero-bg-desktop.jpg");

    @media only screen and (min-resolution: 192dpi) {
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)
        ),
        url("../img/background/desktop/hero-bg-desktop@2x.jpg");
    }
  }
}
.hero-section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--white);

  @media only screen and (min-width: 768px) {
    font-size: 28px;
    max-width: 484px;
  }
}
.buttons-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;

  @media only screen and (min-width: 768px) {
    justify-content: left;
    gap: 14px;
  }
}
.buy-now-button {
  border: none;
  border-radius: 100px;
  padding: 12px 28px;
  background-color: var(--orange);

  font-weight: 600;
  font-size: 14px;
  color: var(--white);
  transition: color 250ms linear, background-color 250ms linear;

  &:hover,
  &:focus {
    color: var(--orange);
    background-color: var(--beige);
  }

  @media only screen and (min-width: 768px) {
    padding: 14px 40px;
  }
}
.about-link {
  border: 1px solid var(--white);
  border-radius: 100px;
  padding: 12px 28px;

  font-weight: 600;
  color: var(--white);
  transition: border-color 250ms linear, color 250ms linear;

  &:hover,
  &:focus {
    border-color: var(--orange);
    color: var(--orange);
  }

  @media only screen and (min-width: 768px) {
    padding: 14px 40px;
  }
}
.scroll-down {
  display: flex;
  align-items: center;
  gap: 12px;

  text-wrap: nowrap;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: var(--white);
  transition: color 250ms linear, background-color 250ms linear,
    fill 250ms linear;

  &:hover,
  &:focus {
    color: var(--orange);
  }

  &:hover .scroll-icon-container,
  &:focus .scroll-icon-container {
    background-color: var(--orange);
  }

  &:hover .scroll-down-icon,
  &:focus .scroll-down-icon {
    fill: var(--white);
    transform: rotate(0);
  }
}

.scroll-down-icon {
  fill: var(--orange);
  transform: rotate(180deg);
  transition: fill 250ms linear, transform 250ms linear;
}

.scroll-icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: var(--white);
  transition: background-color 250ms linear;
}
.hero-section-row {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    width: 100%;
  }
}

/*------------ BENEFITS SECTION --------------*/
.benefits-section {
  background-color: #1e1823;
  padding-top: 20px;
  padding-bottom: 20px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 55px;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 88px;
    row-gap: 44px;
    justify-content: space-between;
  }
}
.benefits-item {
  position: relative;
}
@media only screen and (min-width: 1200px) {
  .benefits-item:not(:first-child)::after {
    content: "";
    position: absolute;
    top: 25%;
    left: -20%;
    width: 1px;
    height: 124px;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.benefits-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
}

.benefits-name {
  margin-bottom: 18px;

  font-weight: 600;
  font-size: 18px;
  color: var(--white);
}
.benefits-text {
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);

  @media only screen and (min-width: 768px) {
    max-width: 308px;
  }
}

/*------------ INGREDIENTS SECTION --------------*/

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: 768px) {
    gap: 32px;
  }

  @media only screen and (min-width: 1200px) {
    row-gap: 32px;
    column-gap: 24px;
  }
}
.ingredients-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 28px;
  border-radius: 15px;
  width: 335px;
  height: 270px;

  @media only screen and (min-width: 768px) {
    width: 336px;
    height: 270px;
  }

  @media only screen and (min-width: 1200px) {
    width: 260px;
    height: 270px;
  }
}
.orange-bg {
  background-color: var(--orange);
}
.black-bg {
  background-color: var(--black);
}
.orange-border {
  border: 1px solid var(--orange);
}

.ingrediens-img {
  margin-bottom: 16px;
}

.ingredients-title-card {
  width: 100%;
  text-align: left;

  font-weight: 600;
  line-height: 1.3;
  text-transform: uppercase;
}
.orange-bg .ingredients-title-card {
  color: var(--white);
}
.orange-border .ingredients-title-card {
  color: var(--black);
}
.black-bg .ingredients-title-card {
  color: var(--white);
}

/* -----------CHOCOLATE PROCESS SECTION-------------- */

.chocolate-process-flex-container {
  @media only screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.chocolate-process-image {
  margin: 0 auto 20px auto;
  border-radius: 15px;

  @media only screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.chocolate-process-content {
  padding: 20px 14px;
  background-color: var(--white);

  @media only screen and (min-width: 768px) {
    padding: 40px;
  }
}
.chocolate-process-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;

  margin: 0 auto 20px auto;

  @media only screen and (min-width: 768px) {
    margin: 0 0 28px;
    max-width: 350px;
  }
}
.chocolate-process-steps {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 0 auto;
  padding-left: 16px;
}
.chocolate-process-step {
  line-height: 1.3;
  list-style-image: url("/img/ellipse.svg");
}

/* -----------------PRODUCTS SECTION------------------ */

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;

  @media only screen and (min-width: 1200px) {
    gap: 24px 18px;
  }
}
.products-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding: 32px 52px;
  background-color: var(--white);

  @media only screen and (min-width: 1200px) {
    padding: 32px 17px;
  }
}
.product-img {
  margin-bottom: 8px;
}
.product-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;

  margin-bottom: 2px;
}
.product-text {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(17, 17, 17, 0.7);

  margin-bottom: 18px;
}
.product-price {
  font-weight: 600;

  background-color: var(--light);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
}

/* ------------------SELLERS SECTION------------------ */

.seller-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.seller-card-wrapper {
  background-color: var(--white);
}

.seller-subtitle {
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  width: 335px;
  padding: 24px 0;
  margin: 0 auto;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;

  @media only screen and (min-width: 768px) {
    width: 344px;
  }

  @media only screen and (min-width: 1200px) {
    width: 368px;
  }
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 11;

  &:hover .seller-text {
    opacity: 1;
  }

  &:hover .seller-img {
    filter: blur(1px);
  }
}
.seller-img {
  border-radius: 15px 15px 0 0;
  width: 335px;
  height: 464px;

  @media only screen and (min-width: 768px) {
    width: 344px;
  }

  @media only screen and (min-width: 1200px) {
    width: 368px;
  }

  transition: filter 250ms linear;
}
.seller-text {
  line-height: 1.3;
  color: #fafafa;

  position: absolute;
  z-index: 10;
  width: 335px;
  padding: 0 35px;

  opacity: 0;
  transition: opacity 250ms linear;
}

.seller-card-container.right-card,
.seller-card-container.left-card {
  display: none;

  @media only screen and (min-width: 1200px) {
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .seller-card-container.right-card {
    display: flex;
  }
}
